<div class="card card-chart" style="min-height: 460px !important;">
    <div class="card-body">      
      <div class="row">
      
      <div class="col-lg-6 col-md-6 col-sm-6 col-md-offset-1">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-4 col-md-3">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-single-02 cblue"></i>
                </div>
              </div>
              <div class="col-8 col-md-9">
                <div class="numbers">
                  <p class="card-category">Raste gjithsej</p>
                  <span class="card-title">{{header?.raste_gjithesej}} </span>
                    <span style="font-size: 12px;" class="card-title"> (sot + {{newCases}} )</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr class="bordercblue">
            <div class="stats">
              <i class="fa fa-bookmark-o"></i>
              Total
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 col-md-6 col-sm-6 col-md-offset-1">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-4 col-md-3">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-atom caqua"></i>
                </div>
              </div>
              <div class="col-8 col-md-9">
                <div class="numbers">
                  <p class="card-category">Teste</p>
                  <p class="card-title">{{header?.teste_gjithesej}}<p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr class="bordercaqua">
            <div class="stats">
              <i class="fa fa-bookmark-o"></i>
              Total
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 col-sm-6 col-md-offset-1">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-4 col-md-3">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-ambulance cyellow"></i>
                </div>
              </div>
              <div class="col-8 col-md-9">
                <div class="numbers">
                  <p class="card-category">Aktiv</p>
                  <p class="card-title">{{header?.raste_aktive}}<p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr class="bordercyellow">
            <div class="stats">
              <i class="fa fa-bookmark-o"></i>
              Total
            </div>
          </div>
        </div>
      </div>
    
        <div class="col-lg-4 col-md-6 col-sm-6 col-md-offset-1">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-4 col-md-3">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-check-2 cgreen"></i>
            </div>
          </div>
          <div class="col-8 col-md-9">
            <div class="numbers">
              <p class="card-category">Shëruar</p>
              <!-- <p class="card-title">{{header?.te_sheruar}}<p> -->
                <span class="card-title">{{header?.te_sheruar}} </span>
                    <span style="font-size: 12px;" class="card-title"> (sot + {{newSolved}} )</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr class="bordercgreen">
        <div class="stats">
          <i class="fa fa-bookmark-o"></i>
          Total
        </div>
      </div>
    </div>
  
  
  
  
  
  
  </div>

  <div class="col-lg-4 col-md-6 col-sm-6 col-md-offset-1">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-4 col-md-3">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-sound-wave cred"></i>
            </div>
          </div>
          <div class="col-8 col-md-9">
            <div class="numbers">
              <p class="card-category">Vdekje</p>
              <!-- <p class="card-title">{{header?.te_vdekur}}<p> -->
                <span class="card-title">{{header?.te_vdekur}} </span>
                    <span style="font-size: 12px;" class="card-title"> (sot + {{newDeath}} )</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr class="bordercred">
        <div class="stats">
          <i class="fa fa-bookmark-o"></i>
          Total
        </div>
      </div>
    </div>
  </div>

    </div>

  </div>
    <div class="card-footer">       
      <hr />      
    </div>
  </div>


  
