
  <div class="card card-chart" style="height: 350px">
    <div class="card-header">
      <h5 class="card-title">Të prekur sipas gjinisë</h5>       
    </div>
    <div class="card-body">
      <app-spinner *ngIf="loading"></app-spinner>
      <canvas baseChart 
      [datasets]="chartData" 
      [labels]="chartLabel" 
      [chartType]="ChartType"
      [options]="chartOptions"
      [colors]="colors"
      
      >
    </canvas>

    </div>
    <div class="card-footer">       
      <hr />      
    </div>
  </div>
